networks:
  #如果宿主机在windows环境，需要添加127.0.0.1 host.docker.internal映射。此文件按照windows环境宿主配置。
  #如果宿主机在linux环境或docker容器，修改sentinel monitor mymaster、replica-announce-ip配置
  #创建redis网络，1主2从3哨兵。
  zy-network:
    driver: bridge
    #显式声名网络名称，避免docker自动生成名称，引用时混淆。
    name: zy-network

volumes:
  #创建数据卷。
  redis-master-data:
    name: redis-master-data
  redis-slave1-data:
    name: redis-slave1-data
  redis-slave2-data:
    name: redis-slave2-data
  redis-sentinel1-data:
    name: redis-sentinel1-data
  redis-sentinel2-data:
    name: redis-sentinel2-data
  redis-sentinel3-data:
    name: redis-sentinel3-data
  nacos-data:
    name: nacos-data
  sentinel-data:
    name: sentinel-data

#配置集成的服务
services:
  #redis-master服务
  redis-master:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      #dockerfile文件位置
      context: ./database/redis
      #参数传递到Dockerfile
      args:
        - REDIS_HOME=${REDIS_HOME}
    #容器名称
    container_name: redis-master
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_MASTER_PORT}:6379
#    #传递给容器的环境变量
#    environment:
#      #密码传递给shell执行
#      - REDIS_PASSWORD=${REDIS_PASSWORD}
    #启动命令。宿主机在windows环境，为了满足宿主机能正确访问redis主从库，配置host.docker.internal
    command:
      - redis-server
      - ${REDIS_HOME}/redis.conf
      #- --replica-announce-port ${REDIS_MASTER_PORT}
    #数据卷
    volumes:
      #持久化目录
      - redis-master-data:${REDIS_HOME}/data
    #网络
    networks:
      #加入自定义网络，方便容器间通信
      - zy-network

  #redis-slave-1服务
  redis-slave-1:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-slave-1
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SLAVE1_PORT}:6379
#    environment:
#      #密码传递给shell执行
#      - REDIS_PASSWORD=${REDIS_PASSWORD}
    #启动命令。、
    command:
      - redis-server
      - ${REDIS_HOME}/redis.conf
      - --replicaof redis-master 6379
      - --replica-announce-port ${REDIS_SLAVE1_PORT}
    volumes:
      #持久化目录
      - redis-slave1-data:${REDIS_HOME}/data
    networks:
    #加入自定义网络，方便容器间通信
      - zy-network
    #保证主库先启动
    depends_on:
      - redis-master

  #redis-slave-2服务
  redis-slave-2:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-slave-2
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SLAVE2_PORT}:6379
#    environment:
#      #密码传递给shell执行
#      - REDIS_PASSWORD=${REDIS_PASSWORD}
    #启动命令。
    command:
      - redis-server
      - ${REDIS_HOME}/redis.conf
      - --replicaof redis-master 6379
      - --replica-announce-port ${REDIS_SLAVE2_PORT}
    volumes:
      #持久化目录
      - redis-slave2-data:${REDIS_HOME}/data
    networks:
    #加入自定义网络，方便容器间通信
      - zy-network
    #保证主库先启动
    depends_on:
      - redis-master

  #redis-sentinel-1服务
  redis-sentinel-1:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-sentinel-1
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SENTINEL1_PORT}:26379
    #启动命令。
    command:
      - redis-sentinel
      - ${REDIS_HOME}/sentinel.conf
      - --sentinel announce-port ${REDIS_SENTINEL1_PORT}
    volumes:
      #持久化目录
      - redis-sentinel1-data:${REDIS_HOME}/data
    networks:
      - zy-network
    depends_on:
      - redis-master
      - redis-slave-1
      - redis-slave-2

  #redis-sentinel-2服务
  redis-sentinel-2:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-sentinel-2
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SENTINEL2_PORT}:26379
    command:
      - redis-sentinel
      - ${REDIS_HOME}/sentinel.conf
      - --sentinel announce-port ${REDIS_SENTINEL2_PORT}
    volumes:
      #持久化目录
      - redis-sentinel2-data:${REDIS_HOME}/data
    networks:
      - zy-network
    depends_on:
      - redis-master
      - redis-slave-1
      - redis-slave-2
  #redis-sentinel-3服务
  redis-sentinel-3:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-sentinel-3
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SENTINEL3_PORT}:26379
    #启动命令。
    command:
      - redis-sentinel
      - ${REDIS_HOME}/sentinel.conf
      - --sentinel announce-port ${REDIS_SENTINEL3_PORT}
    volumes:
      #持久化目录
      - redis-sentinel3-data:${REDIS_HOME}/data
    networks:
      - zy-network
    depends_on:
      - redis-master
      - redis-slave-1
      - redis-slave-2


  nacos-server:
    image: nacos-server:v3.1.1
    build:
      context: ./nacos
    container_name: nacos-server
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      #服务端口
      - "8848:8848"
      #控制台端口
      - "8080:8080"
      # gRPC端口（客户端通信）
      - "9848:9848"
      # gRPC端口（集群通信）
      - "9849:9849"
      # 控制台鉴权端口（可选）
      - "9555:9555"
    volumes:
      #持久化目录
      - nacos-data:/home/nacos
    networks:
      - zy-network

  sentinel-dashboard:
    image: sentinel-dashboard:v1.8.9
    build:
      context: ./sentinel
      args:
        - SENTINEL_HOME=${SENTINEL_HOME}
        - SENTINEL_SERVER_PORT=${SENTINEL_SERVER_PORT}
    container_name: sentinel-dashboard
    ports:
      - "8081:8081"
    volumes:
      - sentinel-data:${SENTINEL_HOME}
    restart: always
    networks:
      - zy-network