#compose语法版本
version: "3.8"

networks:
  #定义应用网络。容器间可通过服务名通信。
  redis-network:
    driver: bridge
    name: redis-network

volumes:
  #定义数据卷。
  redis_master_data:
  redis_slave1_data:
  redis_slave2_data:
  redis_sentinel1_data:
  redis_sentinel2_data:
  redis_sentinel3_data:

#配置集成的服务
services:
  #redis-master服务
  redis-master:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      #dockerfile文件位置
      context: ./database/redis
      #参数传递到Dockerfile
      args:
        - REDIS_HOME=${REDIS_HOME}
    #容器名称
    container_name: redis-master
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_MASTER_PORT}:6379
#    #传递给容器的环境变量
#    environment:
#      #密码传递给shell执行
#      - REDIS_PASSWORD=${REDIS_PASSWORD}
    #启动命令。
    command:
      - redis-server
      - ${REDIS_HOME}/redis.conf
    #数据卷
    volumes:
      #持久化目录
      - redis_master_data:${REDIS_HOME}/data
    #网络
    networks:
      #加入自定义网络，方便容器间通信
      - redis-network

  #redis-slave-1服务
  redis-slave-1:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-slave-1
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SLAVE1_PORT}:6379
#    environment:
#      #密码传递给shell执行
#      - REDIS_PASSWORD=${REDIS_PASSWORD}
    #启动命令。、
    command:
      - redis-server
      - ${REDIS_HOME}/redis.conf
      - --replicaof redis-master 6379
      - --replica-announce-ip host.docker.internal
      - --replica-announce-port ${REDIS_SLAVE1_PORT}
    volumes:
      #持久化目录
      - redis_slave1_data:${REDIS_HOME}/data
    networks:
    #加入自定义网络，方便容器间通信
      - redis-network
    #保证主库先启动
    depends_on:
      - redis-master

  #redis-slave-2服务
  redis-slave-2:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-slave-2
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SLAVE2_PORT}:6379
#    environment:
#      #密码传递给shell执行
#      - REDIS_PASSWORD=${REDIS_PASSWORD}
    #启动命令。
    command:
      - redis-server
      - ${REDIS_HOME}/redis.conf
      - --replicaof redis-master 6379
      - --replica-announce-ip host.docker.internal
      - --replica-announce-port ${REDIS_SLAVE2_PORT}
    volumes:
      #持久化目录
      - redis_slave2_data:${REDIS_HOME}/data
    networks:
    #加入自定义网络，方便容器间通信
      - redis-network
    #保证主库先启动
    depends_on:
      - redis-master

  #redis-sentinel-1服务
  redis-sentinel-1:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-sentinel-1
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SENTINEL1_PORT}:26379
    #启动命令。
    command:
      - redis-sentinel
      - ${REDIS_HOME}/sentinel.conf
    volumes:
      #持久化目录
      - redis_sentinel1_data:${REDIS_HOME}/data
    networks:
      - redis-network
    depends_on:
      - redis-master
      - redis-slave-1
      - redis-slave-2

  #redis-sentinel-2服务
  redis-sentinel-2:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-sentinel-2
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SENTINEL2_PORT}:26379
    command:
      - redis-sentinel
      - ${REDIS_HOME}/sentinel.conf
    volumes:
      #持久化目录
      - redis_sentinel2_data:${REDIS_HOME}/data
    networks:
      - redis-network
    depends_on:
      - redis-master
      - redis-slave-1
      - redis-slave-2
  #redis-sentinel-3服务
  redis-sentinel-3:
    #设置镜像名称和TAG
    image: redis:V1.0
    build:
      context: ./database/redis
      args:
        #参数传递到Dockerfile
        - REDIS_HOME=${REDIS_HOME}
    container_name: redis-sentinel-3
    #容器异常退出时是否自动重启
    restart: always
    #端口映射。宿主机:容器
    ports:
      - ${REDIS_SENTINEL3_PORT}:26379
    #启动命令。
    command:
      - redis-sentinel
      - ${REDIS_HOME}/sentinel.conf
    volumes:
      #持久化目录
      - redis_sentinel3_data:${REDIS_HOME}/data
    networks:
      - redis-network
    depends_on:
      - redis-master
      - redis-slave-1
      - redis-slave-2